*.pyc
*~
etc/ec2api/ec2api.conf.sample
.project
.pydevproject
ec2_api.egg-info
.tox
*.log
*.egg
*.swp
*.swo
build
dist
.testrepository
/functional_tests.conf*
/buckets
.venv
.coverage*
!.coveragerc
cover/
.idea

