*.pyc
*~
etc/ec2api/ec2api.conf.sample
.project
.pydevproject
ec2_api.egg-info
.tox
.stestr
*.log
*.egg
*.swp
*.swo
build
dist
.testrepository
/functional_tests.conf*
/buckets
.venv
.coverage*
!.coveragerc
cover/
.idea
ec2api/tests/unit/test_cert.pem
.DS_Store
