include run_tests.sh ChangeLog
include README.rst builddeb.sh
include MANIFEST.in pylintrc
include AUTHORS
include run_tests.py
include HACKING.rst
include LICENSE
include ChangeLog
include babel.cfg tox.ini
include openstack-common.conf
include ec2api/openstack/common/README
include ec2api/db/sqlalchemy/migrate_repo/README
include ec2api/db/sqlalchemy/migrate_repo/migrate.cfg
include ec2api/db/sqlalchemy/migrate_repo/versions/*.sql
graft doc
graft etc
graft ec2api/locale
graft ec2api/tests
graft tools
global-exclude *.pyc
