# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
Babel!=2.4.0 # BSD
botocore # Apache-2.0
cryptography!=2.0 # BSD/Apache-2.0
eventlet!=0.18.3,!=0.20.1,!=0.21.0 # MIT
greenlet # MIT
httplib2 # MIT
lxml!=3.7.0 # BSD
oslo.cache # Apache-2.0
oslo.config!=4.3.0,!=4.4.0 # Apache-2.0
oslo.concurrency # Apache-2.0
oslo.context # Apache-2.0
oslo.db # Apache-2.0
oslo.log # Apache-2.0
oslo.serialization!=2.19.1 # Apache-2.0
oslo.service!=1.28.1 # Apache-2.0
oslo.utils # Apache-2.0
Paste # MIT
PasteDeploy # MIT
pbr!=2.1.0 # Apache-2.0
keystoneauth1 # Apache-2.0
python-cinderclient # Apache-2.0
python-glanceclient # Apache-2.0
python-keystoneclient!=2.1.0 # Apache-2.0
python-neutronclient # Apache-2.0
python-novaclient # Apache-2.0
python-openstackclient # Apache-2.0
Routes # MIT
six # MIT
SQLAlchemy!=1.1.5,!=1.1.6,!=1.1.7,!=1.1.8 # MIT
sqlalchemy-migrate # Apache-2.0
WebOb # MIT
