anyjson>=0.3.3
argparse
Babel>=1.3
boto>=2.32.1
eventlet>=0.13.0
greenlet>=0.3.2
httplib2>=0.7.5
iso8601>=0.1.9
jsonschema>=2.0.0,<3.0.0
lxml>=2.3
oslo.concurrency>=0.3.0
oslo.config>=1.4.0.0a2
oslo.messaging>=1.4.0,!=1.5.0
Paste
PasteDeploy>=1.5.0
pbr>=0.6,!=0.7,<1.0
pyasn1
python-keystoneclient>=0.9.0
python-cinderclient>=1.1.0
python-glanceclient>=0.14.0
python-neutronclient>=2.3.6,<3
python-novaclient>=2.17.0
Routes>=1.12.3,!=2.0
six>=1.7.0
SQLAlchemy>=0.8.4,!=0.9.5,<=0.9.99
sqlalchemy-migrate>=0.9.1
stevedore>=0.14
WebOb>=1.2.3


