coverage>=3.6  # Apache-2.0
fixtures>=3.0.0  # Apache-2.0/BSD
hacking>=0.11.0,<0.12  # Apache-2.0
mock>=2.0  # BSD
nose  # LGPL
oslotest>=1.10.0  # Apache-2.0
pylint==1.4.5  # GPLv2
python-subunit>=0.0.18  # Apache-2.0/BSD
sphinx>=1.2.1,!=1.3b1,<1.3  # BSD
testrepository>=0.0.18  # Apache-2.0/BSD
testtools>=1.4.0  # MIT
